.profile-card{
    /* background-color: white; */
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 100px auto;
}

.card-body{
    padding: 20px;
    font-size: larger;
}

.font-color{
    color: #838689;
  

}

.card-img-box{
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px auto;
}



.card-img{
    padding: 20px 40px;
    width: 80px;
    height: 80px;
}

.profile-link{
    border-top: 1px solid lightgray;
    padding: 20px;
    font-weight: bolder;
}


.profile-link > a{
    text-decoration: none;
    color: #1c73e8;
    font-family: sans-serif;
}




